{% extends 'blog/base.html' %}
{% block content %}

    {% for post in posts %}
    <article class="media content-section">
      <div class="media-body my-5 border border-2 rounded p-4">
        <div class="article-metadata">
          <a class="mr-2 text-decoration-none" href="">{{ post.author }}</a>
          <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
        </div>
        <h2><a class="article-title text-decoration-none" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content }}</p>
      </div>
    </article>
    {% endfor %}

{% endblock content %}